@keyframes dashAnimation {
    to {
        stroke-dasharray: 1200;
        stroke-dashoffset: 0;
        fill: blue;
    }
}

.svg-image {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.st0{
    fill:transparent;
    stroke:#ff0404;
    stroke-width:5;
    stroke-miterlimit:10;

    stroke-dasharray: 0;
    stroke-dashoffset: 5;
    animation: dashAnimation 5s linear infinite;
}